<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List sản phẩm</title>
</head>
<body>
    <h1>DANH SÁCH LOẠI SẢN PHẨM</h1>
    <a href="/loai-san-pham/them-moi">Thêm loại mới</a> | <a href="/">Quay về</a>
    <table border="1" style="margin-top: 10px; width: 50%;">
        <thead><tr><th>ID</th><th>Tên loại</th><th>Hành động</th></tr></thead>
        <tbody>{{content}}</tbody>
    </table>
</body>
</html>