USE [master]
GO
/****** Object:  Database [CuaHangBanSua]    Script Date: 15/10/2018 3:15:10 PM ******/
CREATE DATABASE [CuaHangBanSua]

GO
USE [CuaHangBanSua]
GO
/****** Object:  Table [dbo].[ChiTietHDBan]    Script Date: 15/10/2018 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHDBan](
	[MaHDBan] [int] NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHDBan] PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 15/10/2018 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[MaHDBan] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayLap] [date] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoaDonBan] PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSua]    Script Date: 15/10/2018 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSua](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_LoaiSua] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 15/10/2018 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPhamSua]    Script Date: 15/10/2018 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPhamSua](
	[MaSua] [char](5) NOT NULL,
	[TenSua] [nvarchar](50) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[MaLoai] [int] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[NhaSanXuat] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_SanPhamSua] PRIMARY KEY CLUSTERED 
(
	[MaSua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSua] ON 

INSERT [dbo].[LoaiSua] ([MaLoai], [TenLoai], [TrangThai]) VALUES (1, N'Sữa hộp trẻ em', 1)
INSERT [dbo].[LoaiSua] ([MaLoai], [TenLoai], [TrangThai]) VALUES (2, N'Sữa hộp người lớn', 1)
INSERT [dbo].[LoaiSua] ([MaLoai], [TenLoai], [TrangThai]) VALUES (3, N'Sữa bột trẻ em', 1)
SET IDENTITY_INSERT [dbo].[LoaiSua] OFF
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [NgaySinh], [HinhAnh], [Password], [TrangThai]) VALUES ('0306191327',N'Phạm Quốc',N'Kiệt',Convert(Date,'06/11/2001',103),'Dulieu/NhanVien/0306191327.jpg','e10adc3949ba59abbe56e057f20f883e',1)
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [NgaySinh], [HinhAnh], [Password], [TrangThai]) VALUES ('0306191354',N'Trần Cổ Gia',N'Quí',Convert(Date,'09/11/2001',103),'Dulieu/NhanVien/0306191354.jpg','e10adc3949ba59abbe56e057f20f883e',1)
INSERT [dbo].[NhanVien] ([MaNV], [Ho], [Ten], [NgaySinh], [HinhAnh], [Password], [TrangThai]) VALUES ('0306191358',N'Trần Hồng',N'Sơn',Convert(Date,'10/02/2001',103),'Dulieu/NhanVien/0306191358.jpg','e10adc3949ba59abbe56e057f20f883e',1)
GO
INSERT [dbo].[SanPhamSua] ([MaSua], [TenSua], [GiaBan], [MaLoai], [HinhAnh], [NhaSanXuat], [MoTa], [TrangThai]) VALUES (N'S0001', N'SỮA SIMILAC IQ INTELLI - PRO SỐ 4 400G', CAST(219000 AS Decimal(18, 0)), 3, N'Dulieu/Spham/S0001.png', N'Abbott', N' 2 đến 6 tuổi', 1)
INSERT [dbo].[SanPhamSua] ([MaSua], [TenSua], [GiaBan], [MaLoai], [HinhAnh], [NhaSanXuat], [MoTa], [TrangThai]) VALUES (N'S0002', N'SỮA SIMILAC IQ S4 VANI-900G', CAST(459000 AS Decimal(18, 0)), 3, N'Dulieu/Spham/S0002.png', N'Abbott', NULL, 0)
INSERT [dbo].[SanPhamSua] ([MaSua], [TenSua], [GiaBan], [MaLoai], [HinhAnh], [NhaSanXuat], [MoTa], [TrangThai]) VALUES (N'S0003', N'Sữa Ensure nước Hương Dâu Mỹ - 237ml/ Lon', CAST(20000 AS Decimal(18, 0)), 2, N'Dulieu/Spham/S0003.png', N'Abbott', NULL, 1)
ALTER TABLE [dbo].[ChiTietHDBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBan_HoaDonBan] FOREIGN KEY([MaHDBan])
REFERENCES [dbo].[HoaDonBan] ([MaHDBan])
GO
ALTER TABLE [dbo].[ChiTietHDBan] CHECK CONSTRAINT [FK_ChiTietHDBan_HoaDonBan]
GO
ALTER TABLE [dbo].[ChiTietHDBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBan_SanPhamSua] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhamSua] ([MaSua])
GO
ALTER TABLE [dbo].[ChiTietHDBan] CHECK CONSTRAINT [FK_ChiTietHDBan_SanPhamSua]
GO
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_NhanVien]
GO
ALTER TABLE [dbo].[SanPhamSua]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamSua_LoaiSua] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSua] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPhamSua] CHECK CONSTRAINT [FK_SanPhamSua_LoaiSua]
GO
USE [master]
GO
